*{
    font-family: 'Work Sans';
    margin: 0%;
}
/* -------------
HEADER STYLE 
----------------*/
header{
    height: 1200px;
    width: auto;
    background: rgba(255, 144, 14, 0.1);
    background-size: cover;
    margin-top: none;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}
.nav-title{
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.nav-elements{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    margin-right: 10px;
}

.nav-elements ul{
    list-style: none;
    display: flex;
}

.nav-elements ul li{
    margin-right: 20px;
    text-align: center;
}

/*-----------------
 header contents 
 ------------------*/
 .header-contents{
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .content-head{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 30px;
 }

 .explore-btn, .btn-10{
    width: 180px;
    height: 64px;
    background-color: #ff900e;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
 }

 .banner-img{
    margin-top: 30px;
    margin-left: 50px;
 }
 .banner-img img{
    width: 1200px;
    height: 600px;
    border-radius: 8px;
 }

 /* ----------
 quick list 
 ------------*/
 .quick-list-container{
    display: flex;
    margin-left: 200px;
    margin-top: 80px;
    margin-left: 200px;
    
 }
 .quick-list-img{
    display: grid;
    grid-template-columns: repeat(2, 0.20fr);
    gap: 10px;
    margin-right: 40px;
 }

.quick-list-container .paragraph{
    text-align: left;
}

.quick-list-container .explore-btn{
    margin-left: 0px;
}
.ql-head{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    text-align: left;
    margin-bottom: 20px;
}

.quick-list-contents{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 100px;
}

/* ------------
features 
-------------*/
.feature{
    margin: 80px;
    display: flex;
    width: 1200px;
    height: 1059px;
    left: 240px;
    top: 2245px;
    margin-left: 200px;
        
}
.feature-section{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 1059px;
    left: 240px;
    top: 2245px;
    margin-right: 80px;
    }

.feature-container{
    display: flex;
    flex-direction: column;
}
.fh-div{
    display: flex;
    /* align-items: center; */
}
.feature-container .paragraph{
    text-align: left;
}
.vl{
    border-left: 6px solid #FF900E;
    height: 100px;
    padding-left: 20px;
    padding-top: 80px;
}

.feature-header{
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #131313;
}

.box{
    width: 450px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    text-align: left;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.box .paragraph{
    text-align: left;
}
.box-head{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

.btn-10{
    width: 320px;
    height: 160px;
    left: 880px;
    top: 3104px;
    text-align: center;
    
}

/*-------------
 facts 
 ------------*/
 .facts{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
 }

 .facts .feature-header{
    margin-top: 80px;
    margin-bottom: 0px;
 }

 .facts .paragraph{
    text-align: left;
    margin-bottom: 50px;
 }

 /*------------------
 fact box 
 -------------------*/
 .fact-box-container{
    display: grid;
    grid-template-columns: repeat(4, 0.01fr);
    gap: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
 }
 .fact-box{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 200px;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    transition: height 2s, width 2s, border-radius 2s;
 }

.fact-box:hover{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #74c0fc;
    border: 2px dashed rgb(45, 38, 38);
}
 .number{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 5px;
 }

 .box-para{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
    margin-top: 5px;
 }

 /*--------------------- 
 what we do style 
---------------------- */
.what-i-do-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 50px;
    margin-left: 200px;
    background-color: #9acba8;
    border-radius: 10%;
    border: 4px solid rgb(255, 255, 255);
    width: 70%;
    transition: width 3s, height 3s, background-color 2s;
}
.what-i-do-sec:hover{
    width: 1200px;
    height: 300px;
    background-color: beige;
}

.what-i-do-sec .paragraph{
    padding: 20px 25%;
}

/* What I Know Style */
.about-me-txt{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}
.what-i-know-container{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-right: 230px;
    margin-left: 230px;
}

.what-i-know{
    width: 300px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 20px;    
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 40px;
    text-align: left;
    
}

/* bonus section */
.bonus-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-left: 5%;
}

.bonus-section .box{
    border-radius: 8px;
    width: 350px;
    height: 130px;
    background-color: #f0f1f3;
    margin-bottom: 30px;
    transition: border-radius 2s;
}


.bonus-section .box:hover{
    border-radius: 50%;
    background-color: #74c0fc;
    
}

 /*--------------------
  soponsors 
----------------------*/
.sponsor{
    margin-top: 50px;
}
.sponsor .sponsor-content{
    align-items: center;
}
.sponsor-content{
    display: flex;
    text-align: left;
    flex-direction: column;
}

.sponsor-content .feature-header{
    margin-bottom: 20px;
}
.sponsor-content .paragraph{
    text-align: center;
    margin-top: 0px;
}

.sponsors-icon{
    display: flex;
    justify-content: space-around;  
    width: 1300px;
    align-items: center;
    margin-left: 150px;
    margin-top: 50px;
}

/*-----------------------
footer 
------------------------*/
footer{
    width: 1300px;
    height: 80px;
    background: #FFF4E7;
    border-radius: 8px;
    margin: 100px 200px;
}

.footer-para{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #424242;
    padding-top: 25px;
}
