*{
    font-family: 'Work Sans';
}
/* -------------
HEADER STYLE 
----------------*/
header{
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
    background-size: cover;
    margin-top: none;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}
.nav-title{
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.nav-elements{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    margin-right: 10px;
}

.nav-elements ul{
    list-style: none;
    display: flex;
}

.nav-elements ul li{
    margin-right: 20px;
    text-align: center;
}

/*-----------------
 header contents 
 ------------------*/
 .header-contents{
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .content-head{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 30px;
 }

 .explore-btn, .btn-10{
    width: 180px;
    height: 64px;
    background-color: #ff900e;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
 }

 .banner-img{
    margin-top: 30px;
    margin-left: 50px;
 }
 .banner-img img{
    width: 1200px;
    height: 600px;
    border-radius: 8px;
 }

 /* ----------
 quick list 
 ------------*/
 .quick-list-container{
    display: flex;
    margin-left: 200px;
    margin-top: 80px;
    margin-left: 200px;
    
 }
 .quick-list-img{
    display: grid;
    grid-template-columns: repeat(2, 0.20fr);
    gap: 10px;
    margin-right: 40px;
 }

.quick-list-container .paragraph{
    text-align: left;
}

.quick-list-container .explore-btn{
    margin-left: 0px;
}
.ql-head{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    text-align: left;
    margin-bottom: 20px;
}

.quick-list-contents{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 100px;
}

/* ------------
features 
-------------*/
.feature{
    margin: 80px;
    display: flex;
    width: 1200px;
    height: 1059px;
    left: 240px;
    top: 2245px;
    margin-left: 200px;
        
}
.feature-section{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 1059px;
    left: 240px;
    top: 2245px;
    margin-right: 80px;
    }

.feature-container{
    display: flex;
    flex-direction: column;
}
.fh-div{
    display: flex;
    /* align-items: center; */
}
.feature-container .paragraph{
    text-align: left;
}
.vl{
    border-left: 6px solid #FF900E;
    height: 100px;
    padding-left: 20px;
    padding-top: 80px;
}

.feature-header{
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #131313;
}

.box{
    width: 450px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    text-align: left;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.box .paragraph{
    text-align: left;
}
.box-head{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

.btn-10{
    width: 320px;
    height: 160px;
    left: 880px;
    top: 3104px;
    text-align: center;
    
}

/*-------------
 facts 
 ------------*/
 .facts{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
 }

 .facts .feature-header{
    margin-top: 80px;
    margin-bottom: 0px;
 }

 .facts .paragraph{
    text-align: left;
    margin-bottom: 50px;
 }

 /*------------------
 fact box 
 -------------------*/
 .fact-box-container{
    display: grid;
    grid-template-columns: repeat(4, 0.01fr);
    gap: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
 }
 .fact-box{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 80px;
 }


 .number{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 5px;
 }

 .box-para{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
    margin-top: 5px;
 }